.container {
	padding: 80px 20px;
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: minmax(40px, auto);
	grid-auto-columns: minmax(auto, 600px);
	justify-content: center;
}

.container > div {
	border: 1px solid salmon;
	background-color: seashell;
	display: grid;
	grid-auto-columns: 100%;
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 100px 100px;
}

.main {
}

.main__list li {
	padding: 10px 50px 10px 10px;
	border: 1px solid salmon;
	position: relative;
	word-wrap: break-word;
}

.close-button {
	position: absolute;
	right: 10px;
	/* font-size: 150%; */
	/* transform: translateY(-50%); */
}
.close-button:after {
	content: "×";
}

.header {
	justify-items: center;
	align-items: center;
}
.footer {
	justify-items: stretch;
	align-items: stretch;
}
.footer__counter {
	justify-self: start;
	align-self: center;
	padding: 10px;
}
