:root {
	--facade-color: #f5f1ed;
	--canvas-color: #dad2bc;
	--border-color: #a99985;
	--shadow-color: #252323;
	--bg-color: #70798c;
	--fg-color: #252323;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
	/* padding: 0; */
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}
button:hover {
	background-color: var(--facade-color);
}

input {
	border: none;
	background-color: transparent;
	font: inherit;
	padding: 0;
}

input.input__text {
	font-size: 1.1rem;
	padding: 14px;
}
input.input__text:focus {
	background-color: var(--facade-color);
}

.container {
	padding: 80px 20px;
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: minmax(40px, auto);
	grid-auto-columns: minmax(auto, 600px);
	justify-content: center;
}

.container > div {
	border: 2px solid var(--border-color);
	background-color: var(--canvas-color);
	display: grid;
	grid-auto-columns: 100%;
	box-shadow: 0px 6px 10px 2px var(--shadow-color);
}

.header {
	justify-items: center;
	align-items: center;
}

.main__list li {
	font-size: 1.1rem;
	padding: 10px;
	border: 2px solid var(--border-color);
	background-color: var(--facade-color);
	word-wrap: break-word;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	grid-gap: 20px;
	/* transition-property: transform; */
	/* transition-duration: 1s; */
}
.main__list li.dragged {
	opacity: 0.68;
	transform: scale(0.96);
}
.main__list li.dragged_over {
	border: 2px dashed var(--fg-color);
}
.main__list li.dragged_over > * {
	pointer-events: none;
}
.main__list li.inactive {
	opacity: 0.2;
}

.close-button {
	justify-self: end;
	align-self: center;
}
.close-button:after {
	content: "×";
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 100px 100px;
}
.footer > * {
	border: 1px solid var(--border-color);
}

.footer__counter {
	align-self: center;
	padding: 10px;
}
