:root {
	--facade-color: #f5f1ed;
	--canvas-color: #dad2bc;
	--border-color: #a99985;
	--shadow-color: #252323;
	--bg-color: #70798c;
	--fg-color: #252323;
}

body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

button {
	/* padding: 0; */
	border: 1px solid var(--border-color);
	font: inherit;
	/* color: inherit; */
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	background-color: var(--facade-color);
}

input {
	font-size: 1.1rem;
	padding: 14px;
	border: none;
	background-color: transparent;
}
input:focus {
	background-color: var(--facade-color);
}

.container {
	padding: 80px 20px;
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: minmax(40px, auto);
	grid-auto-columns: minmax(auto, 600px);
	justify-content: center;
}

.container > div {
	border: 2px solid var(--border-color);
	background-color: var(--canvas-color);
	display: grid;
	grid-auto-columns: 100%;
	box-shadow: 0px 6px 10px 2px var(--shadow-color);
}

.footer {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 100px 100px;
}

.main {
}

.main__list li {
	font-size: 1.1rem;
	padding: 10px 50px 10px 10px;
	border: 2px solid var(--border-color);
	background-color: var(--facade-color);
	position: relative;
	word-wrap: break-word;
}
.main__list li.dragged {
	background-color: orangered;
}
.main__list li.dragged_over {
	border: 2px dashed maroon;
}
.main__list li.dragged_over > * {
	pointer-events: none;
}

.close-button {
	position: absolute;
	right: 10px;
	top: 10px;
	/* font-size: 150%; */
	/* transform: translateY(-50%); */
}
.close-button:after {
	content: "×";
}

.header {
	justify-items: center;
	align-items: center;
}
.footer {
	justify-items: stretch;
	align-items: stretch;
}
.footer__counter {
	justify-self: start;
	align-self: center;
	padding: 10px;
}
